/*FUENTES*/
@font-face{
    font-family: "nevis";
    src: url("fonts/nevis.eot");
    src: url("fonts/nevis.eot?#iefix") format("embedded-opentype"),
        url("fonts/nevis.woff") format("woff"),
        url("fonts/nevis.ttf") format("truetype"),
        url("fonts/nevis.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "fajala";
    src: url("fonts/FjallaOne-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

body{
    background-color: #333;
}

center{
    font-family: Helvetica, Arial;
}